# Slack App Configuration
SLACK_APP_NAME="Slack Utils SORACOM"
SLACK_APP_DESCRIPTION="SORACOM utilities for Slack"
LOCALE=ja

# SORACOM API Authentication
SORACOM_AUTH_KEY_ID=
SORACOM_AUTH_KEY=
SORACOM_COVERAGE_TYPE=jp
